
* {
    box-sizing: border-box;
}

.game-title {
    display: grid;
    place-items: center;
    background-color: rgb(255, 255, 118);
    border: 2px solid black;
    width: 500px;
    height: 100px;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 300%;
    border-radius: 20px 20px 0px 0px;
}

.game-board {
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: lightblue;
    border: 2px solid black;
    place-items: center;
    margin: 0 auto;
    padding: 5px;
}

.game-tile {
    display: grid;
    place-items: center;
    border: 1px solid grey;
    width: 85%;
    height: 85%;
    background-color: white;
    border-radius: 50% 50% 50% 50%;
    font-size: 200%;
    cursor: pointer;
}

.game-tile:hover {
    box-shadow: 0 0 10px gray;
}

.selection {
    display: grid;
    place-items: center;
    border: 1px solid   black;
    border-radius: 3px;
    background-color: white;
}

.light-green {
    background-color: #6efc6e;
    transition: all 0.2s linear;
    /* background-image: url(https://placekeanu.com/150/150); */
}

.light-purple {
    background-color: #d363f9;
    transition: all 0.5s linear;
}

.game-buttons {
    background-color: lightpink;
    border: 2px solid black;
    width: 500px;
    height: 150px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr, 1fr, 1fr;
    place-items: center;
    border-radius: 0px 0px 20px 20px;
}


.game-buttons  > div, button {
    width: 100px;
    height: 50px;
}

.selection {
    display: grid;
    place-items: center;
    border: 1px solid   black;
    border-radius: 3px;
    background-color: white;
}

/* #select-p1 {
    background-color: white;
} */

#select-p1:hover {
    background-color: #6efc6e;
  } 

  #select-p2:hover {
    background-color: #d363f9;
  } 

.creator-details {
    text-align: center;
    margin-top: 50px;
}